body {
    @apply bg-black;
    
    
  }
.container {
    @apply max-w-none;
}
.slide-container {
    @apply relative overflow-y-scroll overflow-x-hidden h-[100vh] snap-y snap-mandatory;
    &::-webkit-scrollbar {
        @apply hidden;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.slide {
    @apply relative h-[100vh] snap-center;
    
    video {
        @apply h-full w-full object-cover;
    }
    &:last-child {
        .scroll-down {
            @apply hidden;
        }
    }
}


.slide-info {
    @apply absolute left-0 right-0 top-[90%] -translate-y-full;   
  }

  .side-bar .side-icon {
    @apply cursor-pointer text-5xl p-5;
    p {
        @apply text-2xl;
    }   
    
  }
  

.share-options {
    @apply flex justify-around mt-3 absolute bottom-0 left-0 right-0 bg-black py-5;
}

.share-option {
    @apply bg-none border-none cursor-pointer text-2xl text-white;
}


/* Hamburger */
#hamburger {
    svg {
        path {
            @apply transition-all duration-500 ease-in-out;
        }
        #top-line {
            
            @apply origin-top;
        }
        #bottom-line {
            
            @apply origin-left;
        }
    }
    &.toggle {
        #top-line {
            transform: rotate(45deg) translate(24px, 8px);
        }

        #bottom-line {
            transform: rotate(-45deg) translate(-48px, 3px);
            width: 100px;
        }

        #middle-line {
           @apply opacity-0;
        }
    }
}




