:root {
    --hover-color: #c9ef31;
}

 html {
    @apply text-white;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    overflow-x: hidden;
      
}

/* Text Styles */
@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

@font-face {
    font-family: 'Telemarines';
    src: url('assets/fonts/telemarinesbold1.ttf') format('truetype');
    font-weight: 700; 
    font-style: normal;
}

.container {
    @apply space-y-3;
}
h1 {
    @apply text-3xl sm:text-5xl font-medium;
}
h2 {
    @apply text-2xl sm:text-3xl font-medium;
}
h3 {
    @apply text-xl sm:text-3xl font-medium;
}
h4 {
    @apply text-lg sm:text-2xl font-medium;
}
h5 {
    @apply text-base text-xl font-medium;
}

.wysiwyg {
    @apply space-y-3;

}

#header-menu a, .back-to-home-link, .side-bar i, .page-template-page-contact a {
    @apply hover:text-hoverColor transition-all duration-700 ease-in-out;
}