body {
    @apply bg-black;
    
    
  }
.container {
    @apply max-w-none;
}
.slide-container {
    @apply relative overflow-y-scroll overflow-x-hidden h-[100dvh] snap-y snap-mandatory;
    &::-webkit-scrollbar {
        @apply hidden;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.slide {
    @apply relative h-[100dvh] snap-start overflow-hidden  snap-always;
    
    video {
        @apply h-full w-full object-cover;
    }
    &:last-child {
        .scroll-down {
            @apply hidden;
        }
    }
}


.slide-info {
    @apply absolute left-0 right-0 top-[90%] -translate-y-full;   
  }

  .side-bar .side-icon {
    @apply cursor-pointer text-3xl sm:text-5xl p-2 sm:p-5;
    p {
        @apply text-lg sm:text-2xl;
    }   
    
  }
  
/* Share options */
.share-options {
    @apply flex justify-around mt-3 fixed bottom-0 left-0 right-0 bg-black py-5 translate-y-full transition-all duration-500 ease-in-out invisible z-50;
    &.active {
        @apply translate-y-0 visible;
    }
}

.share-option {
    @apply bg-none border-none cursor-pointer text-2xl text-white transition-all duration-500 ease-in-out;
    &:hover i {
        @apply text-hoverColor;
    }
    i {
        @apply transition-all duration-700 ease-in-out;
    }
}


/* Hamburger */
#hamburger {
    svg {
        path {
            @apply transition-all duration-500 ease-in-out;
        }
        #top-line {
            
            @apply origin-top;
        }
        #bottom-line {
            
            @apply origin-left;
        }
    }
    &.toggle {
        #top-line {
            transform: rotate(45deg) translate(24px, 8px);
        }

        #bottom-line {
            transform: rotate(-45deg) translate(-48px, 3px);
            width: 100px;
        }

        #middle-line {
           @apply opacity-0;
        }
    }
}


/* Hover effects on header svgs */
.site-branding svg path, #hamburger svg rect {
    @apply transition-all duration-700 ease-in-out;
}
.site-branding:hover svg path, #hamburger:hover svg rect {
    @apply fill-hoverColor;
}

/* Contact Page and project nav black background */
.page-template-page-contact, .single-project{
    #masthead {
        @apply bg-black;
    }
    section:first-child {
        @apply pt-16 sm:pt-32;
    }
    .container {
        @apply py-12;
    }    
}

/* Like button */

.fa-heart {
    @apply text-hoverColor;
}

/* Preloader */
#preloader {
    z-index: 9999;
    @apply fixed inset-0 bg-black w-full h-full flex justify-center items-center;
}

/* About */
.about {
    a {
        @apply text-[#c9ef31] font-medium;
    }
}

/* Credits */
#credits {
    a {
        @apply underline;
    }
}